Flask
Flask-Cors
torchvision
Werkzeug==2.2.2
sentencepiece
python-dotenv
langdetect
requests
numpy
torch
transformers
streamlit
Pillow
huggingface_hub
googletrans==4.0.0-rc1
protobuf==3.20
scipy
python-dotenv